.Fungi { color: #F52887; }
.Plantae { color: #73AC13; }
.Insecta { color: #FF4500; }
.Mollusca { color: #FF4500; }
.Arachnida { color: #FF4500; }
.Aves { color: #1E90FF; }
.Reptilia { color: #1E90FF; }
.Actinopterygii { color: #1E90FF; }
.Amphibia { color: #1E90FF; }
.Mammalia { color: #1E90FF; }
